<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="/stylesheets/font-awesome.css" />-->
    <script src="/javascripts/jquery-1.12.1.js"></script>
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/angular-strap.min.js"></script>
    <script src="/javascripts/angular-strap.tpl.min.js"></script>
    <link rel="stylesheet" href="//nana.band/template/style/reset.css">
    <link rel="stylesheet" href="//nana.band/template/style/page.css">
    <link rel="stylesheet" href="//nana.band/template/style/animation.css">
    <link rel="stylesheet" href="//nana.band/template/style/theme.css">

    <!--<link rel="stylesheet" href="/stylesheets/SpGrid.css">-->
    <script type="text/javascript" src="/javascripts/dist/SpUi.js"></script>
    <script type="text/javascript">
        function testController( $scope, SpModal, Toast, spStatus, $rootScope, $timeout ){
            $scope.row = {};

            $scope.ngChange = function(){
                console.log($scope.inputTest);
            }

            $scope.spChange = function( $event){
                console.log($event);
                console.log("change");
            }
            $scope.init = function(){
//                $timeout(function(){
//                    spStatus("hide","test");
//                    spStatus("!readonly","test.sub");
//                    spStatus("readonly","test.sub.val4");
//                });
                // $scope.modal3.open();
 
                // Toast.alert("test")
                //     .then(function(){
                        
                //         return Toast.confirm("수정하시겠습니까?");
                //     })
                //     .then( function(){
                //         Toast.alert("수정되었습니다."); 
                //     }, function(){
                //         Toast.alert("취소되었습니다.");
                //     });
               
                
            };

            $scope.showAlert = function(){
//                 Toast.alert("Test!!!");
//                spStatus("show", "test.sub");
                // spStatus("hide","test");
                Toast.datepicker().then(function( date ){
                    console.log(date);
                });
                // spStatus("disabled","form");
                // spStatus("!disabled","form.sub");
                // spStatus("disabled","form.sub.test3");

            };

//             $scope.modal3 = new SpModal({
//                 template : "testModal",
//                 params : {
//                     test :"33333$",
//                     ccc : "222"
//                 },
//                 modalAction : {
//                     onResult : function( modal ){
//                         console.log(modal);
//                     }
//                 },
//                 controller : function( $scope, instance ){
//                     this.init = function(){
//                         console.log("TEst!!!");
//                         console.log(this.params);
//                     }

//                     this.close = function(){
//                         instance.close();
//                     }

//                     this.result = function(){
//                         instance.result(this);
//                         instance.close();
//                     }
//                 }
//             });

//             $scope.modal = new SpModal({
//                 template : "testModal2",
//                 params : {
//                     test :"33333$",
//                     ccc : "222"
//                 },
//                 modalAction : {
//                     onResult : function( modal ){
//                         console.log(modal);
//                     }
//                 },
//                 controller : function( instance ){
//                     this.init = function(){
//                         console.log("TEst!!!");
//                         console.log(this.params);
//                     }

//                     this.close = function(){
//                         instance.close();
//                     }

//                     this.result = function(){
//                         $scope.modal3.open();
// //                        instance.result(this);
// //                        instance.close();
//                     }
//                 }
//             });

//             $scope.modal3 = new SpModal({
//                 template : "testModal",
//                 params : {
//                     test :"33333$",
//                     ccc : "222"
//                 },
//                 modalAction : {
//                     onResult : function( modal ){
//                         console.log(modal);
//                     }
//                 },
//                 controller : function( $scope, instance ){
//                     this.init = function(){
//                         console.log("TEst!!!");
//                         console.log(this.params);
//                     }

//                     this.close = function(){
//                         instance.close();
//                     }

//                     this.result = function(){
//                         instance.result(this);
//                         instance.close();
//                     }
//                 }
//             });

//             $scope.modal2 = new SpModal({
//                 template : "test2Modal",
//                 size : "lg",
//                 realHeight: 400,
//                 controller : function( instance, SpGrid, $http ){
//                     var vm = this;

//                     vm.grid1 = new SpGrid({
//                         selectable : true,
//                         gridSize : {
//                             height : '300px'
//                         },
//                         columnDef : [
//                             {
//                                 id : "no",
//                                 type : "rowno",
//                                 name : "순번",
//                                 width : "50px"
//                             },
//                             {
//                                 id : "name",
//                                 name : "이름",
//                                 width : "200px"
//                             },
//                             {
//                                 id : "username",
//                                 name : "유저이름",
//                                 width : "300px"
//                             },
//                             {
//                                 id : "email",
//                                 name : "이메일",
//                                 width : "200px"
//                             }
//                         ]
//                     });

//                     vm.init = function(){


//                         $http.get("users.json",{})
//                             .success(function( data ){
// //                                instance.setTopPosition();
//                                 vm.grid1.setData(data);

//                             });

//                         Toast.datepicker().then(function(date){
//                             alert(date);
//                         })


//                     };

//                     vm.ok = function(){
//                         instance.result(vm.grid1.getSelectedRow());
//                         instance.close();
//                     };

//                     vm.showModal = function(){
//                         $scope.modal.open();
//                     }
//                 },
//                 modalAction : {
//                     onOpen : function( modal ){
//                         modal.init();
//                     },
//                     onResult : function( row ){
//                         $scope.row = row;
//                     }
//                 }
//             })





        }

        function modalController( $scope, instance, Toast ){
            this.init = function(){
                console.log("TEst!!!");
            }
            this.close = function(){
                instance.close();
            }
        }


        function spDatepickerModal( $parse, Toast ){
            return {
                restrict : "A",
                require : "^ngModel",
                link : function( scope, element, attr, ctrl ){
                    element.on("click",function(){
                        Toast.datepicker().then(function( date ){
                            ctrl.$setViewValue(date);
                            ctrl.$render();        
                        });   
                    });
                
                }
            }
        }
        angular.module("modalApp", ["SpUi","mgcrea.ngStrap.datepicker"])
            .controller("testController", testController)
            .controller("modalController", modalController)
            // .directive("spDatepickerModal", spDatepickerModal)
            .service("testService", function(){
                this.test = function(){
                    console.log("#####");
                }
            });
    </script>
</head>
<body ng-app="modalApp" ng-controller="testController" ng-init="init();">
{{inputTest}}
<input type="text" ng-model="inputTest" sp-datepicker-modal />
<div class="nb-inputCalendarMore nb-2m sp-grid-data-edit">
    <div class="nb-inputText calendar">
        <label>
            <div>
                <input type="text" ng-model="row[headerColumn.id]"
                       data-date-format="yyyy-MM-dd"
                       data-model-date-format="yyyyMMdd"
                       scms-keyup-control="N"
                       bs-datepicker ng-trim />
                <a href="javascript:void(0);"><em>날자검색</em></a>
                <i></i>
            </div>
        </label>
    </div>
</div>
<button class="btn btn-default" ng-click="showAlert();">Alert</button>
<script type="text/ng-template" id="testModal2">
<div class="sp-modal-header" ng-init="init();"></div>
<div class="sp-modal-body" ng-click="modal.init();">Test Modal</div>
<div class="sp-modal-footer">
    <div class="nb-buttons right">
        <div class="nb-btn-cancel"><button ng-click="modal.close();">취소</button></div>
        <div class="nb-btn-save nb-theme"><button ng-click="modal.result()">확인</button></div>
    </div>
</div>
</script>
<script type="text/ng-template" id="testModal">
    <div class="sp-modal-header">
        <span class="sp-modal-close"></span>
        <section class="nb-title page">
            <h2><em>Modal 안에 그리드</em></h2>
        </section>
    </div>
    <div class="sp-modal-body" ng-click="modal.init();">Test Modal<br>Test Modal<br>Test Modal<br>Test Modal<br>Test Modal<br>Test Modal<br>Test Modal<br></div>
    <div class="sp-modal-footer">
        <div class="nb-buttons right">
            <div class="nb-btn-cancel"><button ng-click="modal.close();">취소</button></div>
            <div class="nb-btn-save nb-theme"><button ng-click="modal.result()">확인</button></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="test2Modal">
<div class="sp-modal-header">
    <section class="nb-title page">
        <h2><em>Modal 안에 그리드</em></h2>
    </section>
</div>
<div class="sp-modal-body">
    <sp-grid grid-object="modal.grid1">
    </sp-grid>
</div>
<div class="sp-modal-footer">
    <p>
    <div class="nb-buttons right">
        <div class="nb-btn-cancel"><button ng-click="modal.close();">취소</button></div>
        <div class="nb-btn-save nb-theme"><button ng-click="modal.ok()">확인</button></div>
        <div class="nb-btn-save nb-theme"><button ng-click="modal.showModal()">이중모달</button></div>
    </div>
    </p>
</div>
</script>
</body>