<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="sp-grid">
        <div class="sp-grid-header">
            <div class="sp-grid-header-row">
                
            </div>
        </div>
        <div class="sp-grid-body">
            <div class="sp-grid-data-row">
                <div class=""></div>
                <div class=""></div>
                <div class=""></div>
                <div class=""></div>
                <div class=""></div>
                <div class=""></div>
                <div class=""></div>        
            </div>
        </div>
        
    </div>
</body>
</html>