.sp-grid-wrap{
    width: 100%;
    overflow-x : scroll;
}
.sp-grid-wrap > .sp-grid > .sp-grid-body
{
    position : relative;
}

.sp-grid .sp-grid-data-context-menu-backdrop{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.sp-grid .sp-grid-data-context-menu-wrap{
    position: absolute;
}

.sp-grid .sp-grid-data-context-menu-wrap > .sp-grid-data-context-menu{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sp-grid .sp-grid-data-context-menu-wrap > .sp-grid-data-context-menu > li {
    padding: 5px 20px;
    border: 1px solid #4b4b4b;
    box-sizing: border-box;
    background: -webkit-linear-gradient(#fff, #fefefe);
    background: -o-linear-gradient(#fff, #fefefe);
    background: -moz-linear-gradient(#fff, #fefefe);
    background: linear-gradient(#fff, #fefefe);
    box-shadow : 1px 1px 1px #4b4b4b;
}

.sp-grid .sp-grid-header-column{
    position:relative;
}
[class^=sp-grid-order]{
    position: absolute;
    right: 5px;
    font-size: 10px;
    cursor:pointer;
}
.sp-grid .sp-grid-order-asc{
    top: 12px;
}
.sp-grid .sp-grid-order-desc{
    bottom: 12px;
}
@media( min-width : 501px ){
    .sp-grid{
        width:100%;
        border:1px solid #ababab;
        min-height:300px;
        display:table;
    }

    .sp-grid > .sp-grid-header {
        height:50px;
    }
    .sp-grid > .sp-grid-header > .sp-grid-header-row{
        display:table-row;
        height:50px;
    }
    .sp-grid > .sp-grid-header > .sp-grid-header-row > .sp-grid-header-column {
        padding: 0 10px;
        border-right: 1px solid #ababab;
        text-align: center;
        display : table-cell;
        vertical-align:middle;
        background: #f7f7f7;
        color: #333;
        border-bottom: 1px solid #ababab;
    }

    .sp-grid > .sp-grid-body {
        overflow-y:scroll;

    }

    .sp-grid > .sp-grid-body > .sp-grid-data-row{
        display:table-row;
        height:50px;
    }

    .sp-grid > .sp-grid-body > .sp-grid-data-row > .sp-grid-data-column{
        padding: 0 10px;
        border-right: 1px solid #ababab;
        border-bottom: 1px solid #ababab;
        color:#888;
        text-align: center;
        display : table-cell;
        vertical-align:middle;
    }

    .sp-grid > .sp-grid-body > .sp-grid-data-row > .sp-grid-data-column > .sp-grid-data{
        overflow: hidden;
        word-break: break-all;
        box-sizing:border-box;
    }

    .sp-grid-data > .sp-grid-data-html{
        padding-bottom: 12px;
    }
    .sp-grid-data-header{
        display:none;
    }
}


@media ( max-width : 500px ){
    .sp-grid-wrap{
        width:100% !important;
        overflow:hidden;
    }
    .sp-grid{
        width:100%;
        border:1px solid #ababab;
        min-height:300px;
        display:block;
    }

    .sp-grid > .sp-grid-header {
        display:none;
    }

    .sp-grid > .sp-grid-body {
        overflow-y:scroll;
        padding:10px;
    }

    .sp-grid > .sp-grid-body > .sp-grid-data-row{
        display:block;
        height:auto;
        margin-bottom:30px;
    }

    .sp-grid > .sp-grid-body > .sp-grid-data-row > .sp-grid-data-column{
        padding: 20px 10px;
        background: #f7f7f7;
        border-left: 1px solid #ababab;
        border-right: 1px solid #ababab;
        border-bottom: 1px solid #ababab;
        text-align: center;
        display : block;
        vertical-align:middle;
        min-width:100% !important;
        max-width:100% !important;
        box-sizing:border-box;
    }

    .sp-grid > .sp-grid-body > .sp-grid-data-row{
        border-top : 1px solid #ababab;

    }

    .sp-grid > .sp-grid-body > .sp-grid-data-row > .sp-grid-data-column > .sp-grid-data-header,
    .sp-grid > .sp-grid-body > .sp-grid-data-row > .sp-grid-data-column > .sp-grid-data{
        display: inline-block;
        overflow: hidden;
        word-break: break-all;
        box-sizing:border-box;
    }

    .sp-grid > .sp-grid-body > .sp-grid-data-row > .sp-grid-data-column > .sp-grid-data-header{
        width:20%;
        vertical-align:top;
    }
    .sp-grid > .sp-grid-body > .sp-grid-data-row > .sp-grid-data-column > .sp-grid-data {
        width: 80%;
    }


}