.sp-grid-box{
    position:relative;
    overflow:hidden;
    border:1px solid #d9d9d9;
}
/* .sp-grid-box.bd{
    border-bottom:1px solid #b9b9b9;
} */
.sp-grid-wrap {
    width: 100%;
    overflow:hidden;
}
.sp-grid-wrap .sp-grid .sp-grid-body {
    position: relative;
    overflow-y: scroll;
    overflow-x: auto;
    min-height: 150px;
    border-bottom: 1px solid #000;
}
.mb-vertical.sp-grid-wrap .sp-grid .sp-grid-body {
	border-bottom: 0;
}
.mb-vertical .sp-grid {
	padding-right: 0;
}
.sp-grid-notice-message {
    position: absolute;
    text-align: center;
    vertical-align: bottom;
    font-size: 13px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.sp-grid-wrap .sp-grid .sp-grid-body .sp-grid-data .nb-inputText {
    padding: 0;
}
.sp-grid-wrap .sp-grid .sp-grid-body .sp-grid-data .nb-inputText input[type=text] {
    height: 30px;
}
.sp-grid-wrap .sp-grid .sp-grid-body .sp-grid-data .nb-select label {
    height: 30px;
}
.sp-grid-wrap .sp-grid .sp-grid-body .sp-grid-data .nb-checkbox i {
    top: -2px;
    left: 2px;
}
.nb-reset-i-01 .sp-grid-wrap .sp-grid .sp-grid-body .sp-grid-data .nb-checkbox i {top: 10px;}


.sp-grid-wrap .sp-grid .sp-grid-body .sp-grid-data .nb-textarea textarea {
    min-height: 90px !important;
}
.sp-grid-wrap .sp-grid .sp-grid-data-context-menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.sp-grid-wrap .sp-grid .sp-grid-data-context-menu-wrap {
    position: absolute;
}
.sp-grid-wrap .sp-grid .sp-grid-data-context-menu-wrap > .sp-grid-data-context-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sp-grid-wrap .sp-grid .sp-grid-data-context-menu-wrap > .sp-grid-data-context-menu > li {
    padding: 5px 20px;
    border: 1px solid #4b4b4b;
    box-sizing: border-box;
    background: -webkit-linear-gradient(#ffffff, #fefefe);
    background: -o-linear-gradient(#ffffff, #fefefe);
    background: -moz-linear-gradient(#ffffff, #fefefe);
    background: linear-gradient(#ffffff, #fefefe);
    box-shadow: 1px 1px 1px #4b4b4b;
}
.sp-grid-header-column:last-child {
   border-right:none !important; 
}
.sp-grid-wrap .sp-grid .sp-grid-header-column {
    position: relative;
}
.sp-grid-wrap .sp-grid [class^=sp-grid-order] {
    position: absolute;
    right: -4px;
    font-size: 10px;
    cursor: pointer;
}
.sp-grid-wrap .sp-grid .sp-grid-order-wrap {
    position: relative;
    visibility: hidden;
}
.sp-grid-wrap .sp-grid .sp-grid-header-column:hover .sp-grid-order-wrap {
    visibility: visible;
}
.sp-grid-wrap .sp-grid .sp-grid-order-asc {
    top: -5px;
}
.sp-grid-wrap .sp-grid .sp-grid-order-desc {
    bottom: -1px;
}
.sp-grid-wrap .sp-grid .sp-grid-data-active {
    background: #e1e9f9;
}
.sp-grid.selectable .sp-grid-data-row:hover {
    background: #e1e9f9;
    cursor: pointer;
}
.sp-grid.selectable .sp-grid-data-select {
    background: #e1e9f9;
}
.sp-grid {
    width: 100%;
}
.sp-grid-col-group { 
    display:table-column-group;
}
.sp-grid-col-group > div {
    display:table-column;
}
.sp-grid > .sp-grid-body {
    overflow: scroll;
    /* display:table;
    table-layout:fixed; */
}
.sp-grid > .sp-grid-body > .sp-grid-body-canvas { 
    display:table;
    table-layout:fixed;
    width:100%;
}
.sp-grid > .sp-grid-footer {
    background: #fafafa;
    border-bottom: 1px solid #000;
    overflow:hidden;
}
.sp-grid > .sp-grid-footer > table { 
    table-layout:fixed;
    width:100%;
}
.sp-grid > .sp-grid-body .sp-grid-grouping-row {
    display: block !important;
    background-color: #fafafa;
}

.sp-grid > .sp-grid-footer .sp-grid-grouping-row {
    /* border-bottom:1px solid #000; */
    background: #fafafa;
}
.sp-grid > .sp-grid-body .sp-grid-data-row,
.sp-grid > .sp-grid-body .sp-grid-grouping-row {
    display: table-row;
}

.sp-grid-data-column:last-child { 
    border-right:none !important;
}

.sp-grid > .sp-grid-body .sp-grid-data-row .sp-grid-data-column,
.sp-grid > .sp-grid-body .sp-grid-grouping-row .sp-grid-data-column {
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    box-sizing: border-box;
    color: #000;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-weight: lighter;
    font-size: 13px;
    padding: 4px;
    height: 40px;
}
.sp-grid > .sp-grid-body .sp-grid-data-row .sp-grid-data-column .sp-grid-data-header,
.sp-grid > .sp-grid-body .sp-grid-grouping-row .sp-grid-data-column .sp-grid-data-header {
    display: none;
}
.sp-grid > .sp-grid-body .sp-grid-data-row .sp-grid-data-column .sp-grid-data,
.sp-grid > .sp-grid-body .sp-grid-grouping-row .sp-grid-data-column .sp-grid-data {
  /*   overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all; */
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}
.sp-grid > .sp-grid-body .sp-grid-data-row .sp-grid-data-column .sp-grid-data .nb-buttons,
.sp-grid > .sp-grid-body .sp-grid-grouping-row .sp-grid-data-column .sp-grid-data .nb-buttons {
    vertical-align: middle;
    margin: 0 !important;
}
.sp-grid > .sp-grid-body .sp-grid-data-row .sp-grid-data-column .sp-grid-data .nb-buttons a,
.sp-grid > .sp-grid-body .sp-grid-data-row .sp-grid-data-column .sp-grid-data .nb-buttons button, 
.sp-grid > .sp-grid-body .sp-grid-grouping-row .sp-grid-data-column .sp-grid-data .nb-buttons a, 
.sp-grid > .sp-grid-body .sp-grid-grouping-row .sp-grid-data-column .sp-grid-data .nb-buttons button {
	height: 30px;
	line-height: 26px;
}
.sp-grid > .sp-grid-body .sp-grid-data-row .sp-grid-data-column .sp-grid-data .nb-buttons button,
.sp-grid > .sp-grid-body .sp-grid-grouping-row .sp-grid-data-column .sp-grid-data .nb-buttons button {
    padding: 0 10px;
}
.sp-grid .sp-grid-footer .sp-grid-data-column {
    /* border-top: 1px solid #333333;
    border-bottom: 1px solid #333333; */
    border-right:1px solid #d9d9d9;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background: #fafafa;
    color: #4c4c4c;
    font-size: 13px;
    font-weight: lighter;
    padding: 10px;
    height: 45px;
}

.sp-grid > .sp-grid-header {
    overflow:hidden;
    background-color: #f4f6fa;
    border-bottom: 1px solid #d9d9d9;
}

.sp-grid > .sp-grid-header > table { 
    table-layout:fixed;
    width:100%;
}
.sp-grid .sp-grid-header > .sp-grid-header-row {
    display: table-row;
}

.sp-grid-header  tr:last-child  .sp-grid-header-column {
    border-bottom:none !important;
}
.sp-grid-header-column {
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background: #f4f6fa;
    color: #000;
    font-size: 13px;
    font-weight: lighter;
    padding: 10px;
    height: 45px;
    box-sizing:border-box;
}

.sp-grid-filter-column{
    height: 45px;
    display: table-cell;
    /*width: 100%;*/
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    box-sizing: border-box;
    vertical-align: middle;
}
.sp-grid-filtering-input{
    display:inline-block;
    width:100%;

}
.sp-grid-filtering-input > input[type=text]{
    display:block;
    width:90%;
    margin: 0 auto;
}

.sp-grid .nb-select {padding: 0;}
/* .nb-btn-default.btn-grid-horizontal > button, 
.nb-btn-default.btn-grid-vertical > button {
	border: none;
}
.nb-btn-default.btn-grid-horizontal {
	border: 1px solid #666;
}
.nb-btn-default.btn-grid-vertical {
	border: 1px solid #b3b3b3;
} */
.nb-title.page > .nb-buttons.grid-btn {float: right;margin: 0;}
.nb-buttons > div.nb-btn-default.btn-grid-horizontal, 
.nb-buttons > div.nb-btn-default.btn-grid-vertical {padding: 0;margin: 5px 2px;width: 26px;height: 25px;}

.nb-buttons > div.nb-btn-default.btn-grid-horizontal > button, 
.nb-buttons > div.nb-btn-default.btn-grid-vertical > button {height: 25px;}
.nb-buttons > div.nb-btn-default.btn-grid-horizontal > button, 
.nb-buttons > div.nb-btn-default.btn-grid-vertical > button {height: 25px;}

.nb-btn-default.btn-grid-horizontal > button {
	background-image: url(/common/image/icon/cell-none.png);
    background-size: 14px;
	background-position: center 5px;
    background-repeat: no-repeat;
    border: 1px solid #b3b3b3;
}
.nb-btn-default.btn-grid-horizontal > button.active {
	background-image: url(/common/image/icon/cell-on.png);
    background-size: 14px;
	background-position: center 5px;
    background-repeat: no-repeat;
    border: 1px solid #666;
}
.nb-btn-default.btn-grid-vertical > button.active {
	/* height: 25px; */
	background-image: url(/common/image/icon/grid-on.png);
    background-size: 14px;
	background-position: center 5px;
    background-repeat: no-repeat;
    border: 1px solid #666;
}
.nb-btn-default.btn-grid-vertical > button {
	height: 25px;
	background-image: url(/common/image/icon/grid-none.png);
    background-size: 14px;
	background-position: center 5px;
    background-repeat: no-repeat;
    border: 1px solid #b3b3b3;
}
   .nb-btn-default.btn-grid-horizontal > button,
   .nb-btn-default.btn-grid-vertical > button {
   	font-size: 14px;
   	line-height: 1;
   	text-align: center;
    height: 100%;
	width: 100%;
    padding: 0px 2px !important;
}
.sp-grid-wrap.mb-vertical .nb-buttons {
	padding: 0;
}

div.sp-grid-data-column[sp-grid-cell-sizer] {
    padding-left: 9px !important;
    padding-right: 9px !important;
}




@media (max-width: 959px) {

    .sp-grid {
        /* padding-right:10px; */
    }

	.sp-grid-wrap {
	    width: 100%;
	    /* overflow-x: auto; */
	    /* padding: 0 10px; */
	}
    .sp-grid-wrap.mb-vertical {
        width: 100% !important;
        overflow: hidden;
    }
    .sp-grid-wrap.mb-vertical > .sp-grid {
        width: 100%;
        display: block;
    }
    .sp-grid-wrap.mb-vertical .sp-grid-col-group { 
        display:none;
    }
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-header {
        display: none;
    }
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body {
        height: auto !important;
        padding: 0;
        max-height:none !important;
    }
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-data-row,
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-grouping-row {
        display: block;
        height: auto;
        margin-bottom: 30px;
        border-top: 1px solid #d9d9d9;
    }
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-data-row .sp-grid-data-column,
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-grouping-row .sp-grid-data-column {
        border-left: 1px solid #d9d9d9;
        border-right: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
        text-align: center;
        display: table;
        vertical-align: middle;
        min-width: 100% !important;
        max-width: 100% !important;
        box-sizing: border-box;
        font-size: 0;
        padding: 0px;
        min-height: 45px;
        height: auto;
        vertical-align: middle;
    }
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-data-row .sp-grid-data-column .sp-grid-data-header,
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-grouping-row .sp-grid-data-column .sp-grid-data-header,
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-data-row .sp-grid-data-column .sp-grid-data,
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-grouping-row .sp-grid-data-column .sp-grid-data {
        overflow: hidden;
        word-break: break-all;
        box-sizing: border-box;
        display: table-cell;
        padding: 10px;
        min-height: 45px;
    	vertical-align: middle;
    	font-size: 13px;
    }
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-data-row .sp-grid-data-column .sp-grid-data-header,
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-grouping-row .sp-grid-data-column .sp-grid-data-header {
        width: 20%;
        display: table-cell;
        background: #fafafa;
    }
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-data-row .sp-grid-data-column .sp-grid-data-view span,
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-grouping-row .sp-grid-data-column .sp-grid-data-view span {
        white-space: normal;
    }
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-data-row .sp-grid-data-column .sp-grid-data,
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-grouping-row .sp-grid-data-column .sp-grid-data {
        width: 80%;
        text-align: left !important;
    }
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-data-row .sp-grid-data-column .sp-grid-data .nb-buttons,
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-grouping-row .sp-grid-data-column .sp-grid-data .nb-buttons {
        vertical-align: middle;
        margin:0 !important;
    }
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-data-row .sp-grid-data-column .sp-grid-data .nb-buttons button,
    .sp-grid-wrap.mb-vertical > .sp-grid > .sp-grid-body .sp-grid-grouping-row .sp-grid-data-column .sp-grid-data .nb-buttons button {
        padding: 0 10px;
    }
    .sp-grid-wrap.mb-vertical > .sp-grid .sp-grid-footer {
        display: none;
    }
}

@media (min-width: 960px) {
	.nb-buttons.grid-btn {display: none;}
	.sp-grid > .sp-grid-body .sp-grid-data-row .sp-grid-data-column,
	.sp-grid > .sp-grid-body .sp-grid-grouping-row .sp-grid-data-column {
	    height: 45px;
	}
}


.sp-grid-data-row:nth-child(even) {background-color: #fdfdfd;}

