<section class="nb-paging">
    <div class="nb-paging-wrap">
        <div class="nb-paging-first"><button ng-click="$paging.gotoPage(1)">처음</button></div>
        <div class="nb-paging-prev"><button ng-click="$paging.prevPage()">이전</button></div>
        <ul class="nb-paging-blocks">
            <li ng-repeat="page in $paging.getPageBlock()">
                <a href="javascript:void(0);" ng-class="$paging.currentPage == page ? 'on' : ''" ng-click="$paging.gotoPage(page)">{{page}}</a>
            </li>
        </ul>
        <div class="nb-paging-next"><button ng-click="$paging.nextPage()">다음</button></div>
        <div class="nb-paging-last"><button ng-click="$paging.gotoPage(totalPage)">마지막</button></div>
        <div class="nb-paging-info">
            {{$paging.currentPage}} / {{$paging.totalPage}}  ( Total Record : {{$paging.totalRecordCount}} )
        </div>
    </div>
</section>