<div class="nb-inputCalendarMore nb-2m sp-grid-data-edit">
    <div class="nb-inputText calendar">
        <label>
            <div>
                <input type="text" ng-model="row[headerColumn.id]"
                       data-date-format="yyyy-MM-dd"
                       data-model-date-format="yyyyMMdd"
                       scms-keyup-control="N"
                       bs-datepicker ng-trim />
                <a href="javascript:void(0);"><em>날자검색</em></a>
                <i></i>
            </div>
        </label>
    </div>
</div>