<div class="nb-checkbox sp-grid-data-edit">
    <div>
        <label>
            <input type="checkbox" ng-true-value="'{{checkbox.trueValue}}'"
                   ng-false-value="'{{checkbox.falseValue}}'"
                   ng-checked="row[headerColumn.id] == '{{checkbox.trueValue}}'"
                   focus-on="{{headerColumn.id}}{{rowidx}}" sp-status-on="grid.{{headerColumn.id}}{{rowidx}}"
                   ng-model="row[headerColumn.id]" >
            <span>
            <i></i>
            <em>{{label}}</em>
            </span>
        </label>
    </div>
</div>