<div class="sp-grid-data-column"  ng-click="$column.onCellClick(row,rowidx,$index)">
    <div class="sp-grid-data-header" ng-bind-html="$column.columnHeader | to_trusted"></div>
    <div class="sp-grid-data" ng-class="'text-{{headerColumn.align}}'">
        <span class="sp-grid-data-view">
            <span ng-if="$column.isTypeRowno()" ng-bind="$column.getRowno()"></span>
            <span ng-if="$column.isTypeData()" ng-bind="row[headerColumn.id]"></span>
        </span>

        <div class="sp-grid-data-html" ng-show="$column.isTypeHtml()"></div>
    </div> 
</div>