<div class="sp-grid-body" ng-style="{ 'maxHeight' : gridObject.getSize().height }" >
    <sp-grid-data-row ng-repeat="row in gridObject.getCreateData()"></sp-grid-data-row>
    <div ng-if="!gridObject.isGroupable()">
        <sp-grid-data-row
                ng-repeat="row in range(start,start+pageSize)" ng-init="rowidx=$index" on-finish-render="onRowRenderFinished"></sp-grid-data-row>

    </div>

    <div ng-if="gridObject.isGroupable()" class="sp-grid-row-grouping">
        <div ng-repeat="group in $groups" on-finish-render="onRowRenderFinished">
            <sp-grid-data-row
                    ng-repeat="row in group.list" ng-init="rowidx=$index" ></sp-grid-data-row>
            <sp-grid-grouping-row grouping-type="group"></sp-grid-grouping-row>
        </div>
    </div>

    <div class="sp-grid-notice-message" ng-if="range(start,start+pageSize).length == 0 && gridObject.getCreateData().length == 0">
        현재 조회된 데이터가 없습니다.
    </div>
</div>