<section class="nb-paging">
    <div class="nb-paging-wrap">
        <div class="nb-paging-first"><button ng-click="gotoPage(1)">처음</button></div>
        <div class="nb-paging-prev"><button ng-click="prevPage()">이전</button></div>
        <ul class="nb-paging-blocks">
            <li ng-repeat="page in getPageBlock()"><a href="javascript:void(0);" ng-class="currentPage == page ? 'on' : ''" ng-click="gotoPage(page)">{{page}}</a></li>
        </ul>
        <div class="nb-paging-next"><button ng-click="nextPage()">다음</button></div>
        <div class="nb-paging-last"><button ng-click="gotoPage(totalPage)">마지막</button></div>
        <div class="nb-paging-info">
            {{currentPage}} / {{totalPage}}  ( Total Record : {{totalRecordCount}} )
        </div>
    </div>

</section>