
<div class="nb-buttons left nb-inline">
    <div class="nb-btn-save" ng-show="!isRowActive() && gridObject.isEditable()" ng-click="rowEdit();">
        <button tabindex="-1">수정</button>
    </div>
    <!--<div class="nb-btn-save" ng-show="isRowActive()" ng-click="row.__validate()">-->
        <!--<button><i class="fa fa-check" aria-hidden="true"></i></button></div>-->
    <div class="nb-btn-delete" ng-show="isRowActive()" ng-click="rowRevert()">
        <button tabindex="-1">취소</button>
    </div>
    <div class="nb-btn-delete" ng-show="gridObject.isDeleteable()" ng-click="rowDelete()">
        <button tabindex="-1">삭제</button>
    </div>

</div>