<div class="sp-grid-header-column" ng-style="{ 'min-width' : getWidth(), 'max-width' : getWidth() }">
    <span>{{column.name}}
        <span class="sp-grid-order-wrap">
            <span class="sp-grid-order-desc" ng-show="column.type=='data'" ng-click="orderChange(column.id,'desc')">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </span>
            <span class="sp-grid-order-asc"  ng-show="column.type=='data'" ng-click="orderChange(column.id,'asc')">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
            </span>
        </span>
    </span>
</div>