@border-color:#d9d9d9;
@strong-border-color:#333333;
@background-color:#fafafa;
@strong-background-color:#f4f6fa;
@header-column-font-color:#4c4c4c;
@data-column-font-color:#808080;
@data-column-height:45px;

.sp-grid-wrap{
    width: 100%;
    overflow-x : auto;
    .sp-grid {
        .sp-grid-body{
            position : relative;
            overflow-x:hidden;
            .sp-grid-notice-message{
                height: 150px;
                text-align: center;
                vertical-align: bottom;
                padding-top: 60px;
                border-bottom: 1px solid @border-color;
                font-size: 13px;
            }
            .sp-grid-data{


                .nb-inputText{
                    padding:0;
                    input[type=text]{
                        height:30px;
                    }
                }

                .nb-select{
                    //padding:0;
                    label{
                        height:30px;
                    }
                    select{
                        //height:30px;
                    }
                }

                .nb-checkbox{
                    i{
                        top:-2px;
                        left:2px;
                    }
                }

                .nb-textarea textarea{
                    min-height:90px !important;
                }


            }
        }

        .sp-grid-data-context-menu-backdrop{
            position:fixed;
            top:0;
            left:0;
            right:0;
            bottom:0;
        }

        //Context Menu 현재 미사용
        .sp-grid-data-context-menu-wrap{
            position: absolute;

            & > .sp-grid-data-context-menu{
                padding: 0;
                margin: 0;
                list-style: none;

                 & > li {
                    padding: 5px 20px;
                    border: 1px solid #4b4b4b;
                    box-sizing: border-box;
                    background: -webkit-linear-gradient(#fff, #fefefe);
                    background: -o-linear-gradient(#fff, #fefefe);
                    background: -moz-linear-gradient(#fff, #fefefe);
                    background: linear-gradient(#fff, #fefefe);
                    box-shadow : 1px 1px 1px #4b4b4b;
                }
            }


        }

        .sp-grid-header-column{
            position:relative;
        }


        [class^=sp-grid-order]{
            position: absolute;
            right: -4px;
            font-size: 10px;
            cursor:pointer;
        }

        .sp-grid-order-wrap{
            position:relative;
            visibility:hidden;
        }

        .sp-grid-header-column:hover .sp-grid-order-wrap{
            visibility:visible;
        }

        .sp-grid-order-asc{
            top: -5px;
        }

        .sp-grid-order-desc{
            bottom: -1px;
        }

        .sp-grid-data-active{
            background:lighten(@background-color,1%);
        }
    }
}


.sp-grid.selectable{
    .sp-grid-data-row:hover{
        background:lighten(@background-color,1%);
        cursor:pointer;
    }

    .sp-grid-data-select{
      background:lighten(@background-color,1%);
    }
}


//default
.sp-grid{
    width:100%;
    //min-height:300px;
    display:table;

    & > .sp-grid-body {
        overflow-y:auto;

        .sp-grid-grouping-row{
            display:block !important;
            background-color : @background-color;
        }

        .sp-grid-data-row, .sp-grid-grouping-row{
            display:table-row;

            .sp-grid-data-column{
                border-bottom: 1px solid @border-color;
                box-sizing:border-box;
                color:@data-column-font-color;
                text-align: center;
                display : table-cell;
                vertical-align:middle;
                font-weight:lighter;
                font-size:13px;
                padding:5px;
                height:@data-column-height;

                .sp-grid-data-header{
                    display:none;
                }


                .sp-grid-data{
                    overflow: hidden;
                    white-space:nowrap;
                    text-overflow:ellipsis;
                    word-break: break-all;
                    box-sizing:border-box;
                    padding-left: 5px;
                    padding-right: 5px;
                    .nb-buttons{
                        vertical-align: middle;
                        button{
                            padding : 0 10px;
                        }
                    }
                }
            }
        }
    }

    .sp-grid-footer {
        .sp-grid-data-column{
            border-top: 1px solid @strong-border-color;
            border-bottom: 1px solid @strong-border-color;
            text-align: center;
            display : table-cell;
            vertical-align:middle;
            background: @background-color;
            color: @header-column-font-color;
            font-size:13px;
            font-weight:lighter;
            padding:10px;
            height:@data-column-height;
        }
    }
    .sp-grid-header {

        & > .sp-grid-header-row{
            display:table-row;

            .sp-grid-header-column {
                border-top: 1px solid @strong-border-color;
                border-bottom: 1px solid @border-color;
                text-align: center;
                display : table-cell;
                vertical-align:middle;
                background: @strong-background-color;
                color: @header-column-font-color;
                font-size:13px;
                font-weight:lighter;
                padding:10px;
                height:@data-column-height;
            }
        }
    }
}


@media ( max-width : 743px ){
    .sp-grid-wrap.mb-vertical{
        width:100% !important;
        overflow:hidden;

        & > .sp-grid{
            width:100%;
            // border:1px solid #ababab;
            //min-height:300px;
            display:block;


            & > .sp-grid-header {
                display:none;
            }

            & > .sp-grid-body {
                // overflow-y:auto;
                height:auto !important;
                padding:10px;

                 .sp-grid-data-row , .sp-grid-grouping-row{
                    display:block;
                    height:auto;
                    margin-bottom:30px;
                    border-top : 1px solid @border-color;

                    .sp-grid-data-column{
                        //background: @background-color;
                        border-left: 1px solid @border-color;
                        border-right: 1px solid @border-color;
                        border-bottom: 1px solid @border-color;
                        text-align: center;
                        display : block;
                        vertical-align:middle;
                        min-width:100% !important;
                        max-width:100% !important;
                        box-sizing:border-box;
                        font-size:13px;
                        padding:0px;


                        .sp-grid-data-header, .sp-grid-data{
                            display: inline-block;
                            overflow: hidden;
                            word-break: break-all;
                            box-sizing:border-box;
                            display: inline-block;
                            padding: 10px;
                            height:100%;
                        }

                        .sp-grid-data-header{
                            width:20%;
                            display: inline-block;
                            background: @background-color;
                        }

                        .sp-grid-data {
                            width: 79%;
                            text-align:left !important;
                            .nb-buttons{
                                vertical-align: middle;
                                button{
                                    padding : 0 10px;
                                }
                            }
                        }
                    }
                }
            }
            .sp-grid-footer{
                display:none;
            }
        }
    }

}