.sp-modal-backdrop{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,0.5);
  &.in{
    display:block;
  }
  &.out{
    display:none;
  }
  z-index:1040;
}
.sp-modal-wrap{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:1050;
  &.in{
    display:block;
  }
  &.out{
    display:none;
  }
  .sp-modal{
    position:relative;
    margin:0 auto;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid #808080;
    //width:500px;
    //height:300px;

    &.sp-modal-lg{
      max-width:900px;
    }
    &.sp-modal-md{
      max-width:700px;
    }
    &.sp-modal-sm{
      max-width:500px;
    }
    &.sp-modal-xs{
      max-width:300px;
    }

    background:white;
    .sp-modal-header{
      //height:50px;
      padding : 15px;
      box-sizing:border-box;
      position: relative;
      border-bottom: 1px solid #808080;

      i.fa.fa-close{
        position: absolute;
        top: 20px;
        right: 15px;
        cursor: pointer;
        font-size: 25px;
      }
    }
    .sp-modal-body{
      padding:30px 15px;
      //max-height:300px;
      overflow:auto;
      color: #333;

    }
    .sp-modal-footer{
      //height:50px;
      padding : 15px;
      box-sizing:border-box;
      border-top: 1px solid #808080;
    }
  }
}